/* Typography
--------------------------------------------- */

@import "typography/typography.scss";

/* Elements
--------------------------------------------- */

@import "elements/body";
@import "elements/hr";
@import "elements/lists";
@import "elements/media";
@import "elements/tables";

/* Links
--------------------------------------------- */

@import "elements/links";

/* Forms
--------------------------------------------- */

@import "elements/forms/forms";
.is-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 72px;
}

.is-flex {
    @include display-flex(flex);
}

.is-start {
    @include justify-content-start;
}

.is-center {
    @include justify-content-center;
}

.is-end {
    @include justify-content-end
}

.is-between {
    @include justify-content-between;
}

.is-around {
    @include justify-content-around;
}

.is-align-start {
    @include align-items-start;
}

.is-align-center {
    @include align-items-center;
}

.is-align-end {
    @include align-items-end;
}

.is-align-stretch {
    @include align-items-stretch;
}

.hr-end {
    @include flex-hr-end();
}

.hr-start {
    @include flex-hr-start();
}

.hr-center {
    @include flex-hr-center();
}

.is-wrap {
    @include flex-wrap(wrap);
}

.is-grow {
    flex-grow: 1;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.is-heading-color {
    color: $heading-color;
}

.max-500 {
    max-width: 500px;
}

.mt-05 {
    margin-top: 5px;
}

.mb-05 {
    margin-bottom: 5px;
}

.ml-05 {
    margin-left: 5px;
}

.mr-05 {
    margin-right: 5px;
}

.mt-15 {
    margin-top: 1rem;
}

.mb-15 {
    margin-bottom: 1rem;
}

.mr-15 {
    margin-right: 1rem;
}

.ml-15 {
    margin-left: 1rem;
}

.pd-15 {
    padding: 1rem;
}

.pl-15 {
    padding-left: 1rem;
}

.pt-15 {
    padding-top: 1rem;
}

.pb-15 {
    padding-bottom: 1rem;
}

.pr-15 {
    padding-right: 1rem;
}

.pl-10 {
    padding-left: 1rem;
}

.pd-10 {
    padding: .6125rem;
}

.pt-10 {
    padding-top: .6125rem;
}

.pb-10 {
    padding-bottom: .6125rem;
}

.pr-10 {
    padding-right: .6125rem;
}

.pl-10 {
    padding-left: .6125rem;
}

.mb-10 {
    margin-bottom: .6125rem;
}

.mg-10 {
    margin: .6125rem;
}

.mt-10 {
    margin-top: .6125rem;
}

.mr-10 {
    margin-right: .6125rem;
}

.ml-10 {
    margin-left: .6125rem;
}

.mt-30 {
    margin-top: 2rem;
}

.mb-30 {
    margin-bottom: 2rem;
}

.mr-30 {
    margin-right: 2rem;
}

.ml-30 {
    margin-left: 2rem;
}

.pt-30 {
    padding-top: 2rem;
}

.pb-30 {
    padding-bottom: 2rem;
}

.pr-30 {
    padding-right: 2rem;
}

.pl-30 {
    padding-left: 2rem;
}

.pd-30 {
    padding: 2rem;
}

.pd-0 {
    padding: 0 !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.pr-0 {
    padding-right: 0 !important;
}

.mt-5 {
    margin-top: 3rem;
}

.mb-5 {
    margin-bottom: 5rem;
}

.pb-5 {
    padding-bottom: 3rem;
}

.pt-5 {
    padding-top: 3rem;
}

.mr-0 {
    margin: 0 !important;
}

.is-bg-white {
    background-color: $white-color;
}

.container-fluid {
    padding: 0 2rem;
    @media #{$breakpoint-md} {
        padding: 1rem;
    }
}

.is-capitalize {
    text-transform: capitalize;
}

.is-uppercase {
    text-transform: uppercase;
}

.section-title {
    max-width: 600px;
    h3 {
        font-weight: 400;
        font-size: 2rem;
        color: $secondary-color;
    }
    &.is-center {
        text-align: center;
        margin: 0 auto;
    }
}

.is-primary-color {
    color: $primary-color;
}

.is-status {
    @include radius(4px);
    padding: .25rem .5rem;
    text-transform: uppercase;
    font-weight: 700;
    &.is-orange-light {
        background-color: rgba($dark-orange, .15);
        color: $dark-orange;
    }
    &.is-green-light {
        background-color: rgba($light-green, .15);
        color: $light-green;
    }
}